/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
}

/* Globale styles */
body {
    background: #ececec;
}

#forsidevideo {
    width: 100%;
    height: auto;
    pointer-events: none;
}

#tilmeldnu {
    background-color: #F28705;
    border: none;
    padding: 10px 20px 10px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 4vw;
    margin-left: 40vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    cursor: pointer;
}

#tilmeldnu a:hover {
    color: black;
}

#corona {
    margin-top: 10vw;
    text-align: center;
}

#coronatekst {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
}

#readmore {
    background-color: #F28705;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
    margin-bottom: 5vw;
    cursor: pointer;
}

#readmore:hover {
    color: black;
}

#diasshow {
    text-align: center;
}

.image-container {
    display: flex;
    gap: 10px;
    padding: 20px;
    overflow-x: scroll;
}

.image-container figure {
    flex-grow: 1;
    flex-basis: 90%;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.image-container img {
    margin-right: 20px;
}

#mereomos {
    text-align: center;
    margin-bottom: 5vw;
}

#mereomostekst {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 3vw;
}

#komigang {
    text-align: center;
    margin-bottom: 20px;
}

#komigang_img {
    position: relative;
    z-index: -1;
    left: 0;
}

#tilmeld {
    background-color: #F28705;
    color: white;
    border: none;
    padding: 8px 20px 8px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
    cursor: pointer;
}

#tilmeld a:hover {
    color: black;
}

@media screen and (min-width: 1024px) {

    #tilmeldnu {
        background-color: #F28705;
        color: white;
        border: none;
        padding: 10px 20px 10px 20px;
        font-family: 'Bebas Neue', cursive;
        font-size: 2vw;
        cursor: pointer;
        position: absolute;
        top: 45vw;
        left: 5vw;
    }

    h2 {
        font-size: 5rem;
        margin-top: 5vw;
        text-align: center;
    }

    #corona img {
        width: 70vw;
    }

    #corona_section {
        background-color: #dbdada;
        padding: 5px;
        width: 70vw;
        margin-left: 15vw
    }

    #readmore {
        margin-left: 50vw;
        margin-bottom: 2vw;
    }

    #diasshow {
        width: 70vw;
        margin: 0 auto;
        text-align: center;
    }

    #mereomos {
        display: flex;
        flex-direction: row;
        margin-left: 15.5vw;
        margin-top: 5vw;

    }

    #mereomos_section {
        background-color: #dbdada;
        width: 35vw;

    }

    #mereomos img {
        width: 35vw;

    }

    #komigang_img {
        width: 30vw;
    }

    #tilmeld {
        margin-bottom: 5vw;
    }
