/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100vw;
    vertical-align: middle;
}

/* Globale styles */
body {
    background: #ececec;
}

#holdplan {
    margin: 5vw;
}

.day {
    background-color: #bcbcbc;
    margin-top: 3vw;
}
