* {
    box-sizing: border-box;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

/* Globale styles */
body {
    background: #ececec;
}

#holdplan {
    margin: 5vw;
}

.day {
    display: grid;
    grid-template-columns: 15fr 1fr;
    background-color: #bcbcbc;
    margin-top: 3vw;
    padding-left: 2vw;
    font-size: 1.5rem;

}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', cursive;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

#hold {
    margin: 5vw;
    text-align: center;
}

#hold h2 {
    font-size: 3rem;
    padding-bottom: 2vw;
}

button {
    background-color: #F28705;
    color: white;
    border: none;
    padding: 5px 15px 5px 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3.5vw;
    cursor: pointer;
    margin: 0vw 0vw 3vw 0vw;
    border-bottom: 1px;
    position: relative;
}


button:focus {
    outline: 0;
}


#tider_mandag,
#tider_tirsdag,
#tider_onsdag,
#tider_torsdag,
#tider_fredag,
#tider_lordag,
#tider_sondag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 3vw;
    margin-top: 1.5vw;
}

#tider_mandag p,
#tider_tirsdag p,
#tider_onsdag p,
#tider_torsdag p,
#tider_fredag p,
#tider_lordag p,
#tider_sondag p {
    border-bottom: 1px solid #939191;
    margin: 0 0 3vw 0;
    padding-left: 1.5vw;

}


#dd1,
#dd2,
#dd3,
#dd4,
#dd5,
#dd6,
#dd7 {
    background-color: #bcbcbc;
    margin-bottom: 0;
    padding: 0;
    border: 0;
}


#dropdown1,
#dropdown2,
#dropdown3,
#dropdown4,
#dropdown5,
#dropdown6,
#dropdown7 {
    background-image: url(images/dropdown_ui.svg);
    background-size: cover;
    height: 3.3vw;
    width: 6vw;
}

.entid {
    transform-origin: center;
    transform: translateY(-20vw);
}

.hidden {
    opacity: 0;
    transform: scaleY(0);
    position: fixed;
}

.shown {
    position: relative
}

.upsidedown {
    transform: rotate(180deg);
}

@media (min-width: 650px) {
    main {
        margin-bottom: 3vw;
    }

    h1 {

        position: absolute;
        transform: translate(33vw);
        font-size: 10rem;
    }

    #holdplan {
        margin: 0 20vw;
    }

    h3 {
        font-size: 2rem;
        margin: 0;
        padding: 0.8vw 0 0 0;
    }

    #dropdown1,
    #dropdown2,
    #dropdown3,
    #dropdown4,
    #dropdown5,
    #dropdown6,
    #dropdown7 {
        background-image: url(images/dropdown_ui.svg);
        background-size: cover;
        height: 1.1vw;
        width: 2vw;
        margin: 1.5vw;
    }

    .day {
        display: grid;
        grid-template-columns: 15fr 1fr;
        background-color: #bcbcbc;
        margin-top: 1vw;
        padding-left: 2vw;
        font-size: 1.5rem;

    }

    button {
        background-color: #F28705;
        color: white;
        border: none;
        padding: 5px 15px 5px 15px;
        font-family: 'Bebas Neue', cursive;
        font-size: 2vw;
        cursor: pointer;
        margin-bottom: 0.5vw;
        border-bottom: 1px solid #939191;
        position: relative;
    }

    #tider_mandag p,
    #tider_tirsdag p,
    #tider_onsdag p,
    #tider_torsdag p,
    #tider_fredag p,
    #tider_lordag p,
    #tider_sondag p {
        border-bottom: 1px solid #939191;
        margin: 0 0 0.5vw 0;
        padding-left: 2vw;

    }


}
