img {
    width: 100%;
}

h1,
h2 {
    font-family: 'Bebas Neue', cursive;
}

body {
    background: #ececec;
}

p {
    font-family: 'Roboto', sans-serif;
}

#komigang {
    text-align: center;
    margin-bottom: 20px;
}

#komigang_img {
    position: relative;
    z-index: -1;
    left: 0;
}

#tilmeld {
    background-color: #F28705;
    color: white;
    border: none;
    padding: 8px 20px 8px 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vw;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 600px) {

    section {
        text-align: center;
    }

    h1 {
        font-size: 4rem;
        padding-bottom: 2px;
    }

    p {
        padding-left: 5px;
        padding-right: 5px;
        margin: 5px;
    }

    #omnf video {
        width: 100%;
    }

    #menuknap {
        position: absolute;
        left: 93vw;
    }


    #hvemnf img {
        position: absolute;
        left: 0;
    }

    #omos img {
        margin-top: 95px;
    }

}

@media only screen and (min-width: 1200px) {


    #omos img {
        width: 100%;
        height: 30vw;
    }

    * {
        margin: 0;
    }

    h1 {
        text-align: center;
        font-size: 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    #omos p {
        text-align: center;
    }

    #omnf,
    #hvemnf {
        margin: 40px;
    }

    /* #omnf .col {
        display: grid;
        grid-template-columns: 1.6fr 29fr 30fr;
    }

    #omnf p {
        grid-column-start: 2;
        grid-column-end: 3;
    } */

    #omnf {
        text-align: center;
    }

    #omnf video {
        padding-top: 20px;
    }

    #hvemnf .col {
        text-align: center;
    }

    #galleri {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    #komigang img {
        width: 30vw;
    }

}
